/****************************
	All Files
*****************************/

body{
	background-color: #d0c8b5;
}

a{
	color: #03bceb;
	text-decoration: none;
}
a:hover{
	color: #f2911c;
	text-decoration: none;
}

p{
	font-family: "LatoLight","Arial Black","Arial Bold",sans-serif;
}

/*.resp_margin{
	margin: 0 auto;
}*/

p.page_description{
    font-family: "LatoLightItalic","Arial Black","Arial Bold",sans-serif;
    padding: 0px 10px;
}

h2{
    font-family: "LatoItalic","Arial Black","Arial Bold",sans-serif;
    text-align: right;
}

/****************************
	Home Page
*****************************/

.logo{
    margin-top: 40px;
    height: 400px;
    width: 600px;
    display: inline-block;
    float: left;
}

ul.navbar{
	margin-left: 100px;
	display: inline-block;
	clear: both;
} 
ul.navbar li{
	display: inline;
	padding-left: 15px;
}

div.top_wrapper{
	height: 445px;
}

div.slideshow_wrapper{
	/*display: inline-block;*/
	margin-top: 50px;
	margin-left: 87px;
}

.slider {
  max-width: 940px;  
  margin: 0px auto 30px auto;}

.slide-viewer{
	position: relative;
	overflow: hidden;
	height: 300px;
}

.slide-group{
	width: 100%;
	height: 100%;
	position: relative;
}

.slide{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
}

.slide:first-child {
	display: block;
}

/********** BUTTONS **********/
.slide-buttons {
  text-align: center;
  width: 800px;
}

.slide-btn {
  border: none;
  background: none;
  color: #000;
  font-size: 200%;
  line-height: 0.5em;}

.slide-btn.active, .slide-btn:hover {
  color: #ed8e6c;
  cursor: pointer;}

#shows{
	text-align: center;
	width: 800px;
	display: inline-block;
	margin-left: 129px;
}

.overlay{
	width: 300px;
	height: 400px;
	opacity: 0.8;
	background-color: black;
	display: inline-block;
	position: absolute;
	left: 500px;
	z-index: 1;
}

.overlay p{
	margin-left: auto;
	margin-right: auto;
	color: white;
	padding-left: 35px;
}
/****************************
	Artists Page
*****************************/
div.side_nav{
	width: 335px;
	display: inline-block;
	/*border-right: 1.5px solid gray;*/
	margin-top: 60px;
}
img.side_logo{
	width: 250px;
	height: 150px;
	margin-left: 30px;
}

ul.navbar_small{
	display: inline-block;
	padding-left: 0px;
}
ul.navbar_small li{
	list-style-type: none;
	padding-top: 10px;
	/* text-align: center; */
	padding-left: 10px;
	display: inline;
}

.artists_list{
	display: inline-block;
	width: 830px;
	margin-left: 50px;
	vertical-align: top;
	margin-top: 50px;
}
.artist_profile{
	margin-bottom: 20px;
}


.artist_image_wrapper{
	float: left;
	display: inline-block;
}
img.artist_image{
    display: inline-block;
}

.artist_name_wrapper{
	width: 125px;
}

.artist_name{ font-family: "Lato","Arial Black","Arial Bold",sans-serif; padding-top: 10px;}
.artist_town{font-family: "LatoLightItalic","Arial Black","Arial Bold",sans-serif; padding-top: 10px;}

p.bio{
	padding-left: 160px;

}

ul.artist_links{
	display: inline-block;
	padding-left: 36px;
}
ul.artist_links li{
	list-style-type: none;
	display: inline-block;
	padding-right: 15px;
}
ul.artist_links a{
	color: #f2911c;
}
ul.artist_links a:hover{
	color: #03bceb;
}

p.name{
	font-weight: bold;
}

/****************************
	Font
*****************************/

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Reg.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Reg.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Reg.ttf') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Reg.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/Lato-Bol.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Bol.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Bol.ttf') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Bol.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Bol.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LatoItalic';
  src: url('../fonts/Lato-RegIta.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-RegIta.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-RegIta.ttf') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-RegIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-RegIta.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato-Lig.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Lig.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Lig.ttf') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Lig.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Lig.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LatoLightItalic';
  src: url('../fonts/Lato-LigIta.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-LigIta.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-LigIta.ttf') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-LigIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-LigIta.ttf') format('svg'); /* Legacy iOS */
}